#jumbotron-Head{
	 color: #333333; font-family: 'Bitter', serif; font-size: 50px; font-weight: normal; line-height: 54px; margin: 0 0 54px; 
	 
	}
#desc{
	margin-left: 2%;
  	margin-right: 2%;
}